.about-section {
  display: flex;
  align-items: center;
  justify-content: left;
  place-items: center;
  position: relative;
  opacity: 1;
  height: auto;
  width: var(--cWidth);
  margin: auto;
}

.about-image {
  display: none;
  /* Hidden on mobile by default */
}

.about-me {
  padding: 40px 0px;
  padding-bottom: 0;
  width: 100%;
  max-width: calc(100% - 15px);
}

.about-me h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  color: var(--accentColor);
  margin-bottom: 15px;
}

.about-me p {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.about-me .split-word {
  display: inline-block;
  margin-right: 0.3em;
}

.about-me .split-line {
  display: block;
}

@media only screen and (min-width: 600px) {
  .about-section {
    justify-content: center;
  }

  .about-me {
    width: 500px;
  }

  .about-me h3 {
    font-size: 22px;
    letter-spacing: 6px;
  }

  .about-me p {
    font-size: 28px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .about-me {
    width: 500px;
    max-width: calc(100% - 70px);
    transform: translateY(0%);
  }

  .about-me h3 {
    font-size: 25px;
    letter-spacing: 7px;
  }

  .about-me p {
    font-size: 33px;
    line-height: 36px;
  }

  .about-section {
    opacity: 1;
  }
}

@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    padding: 0 10%;
    opacity: 1;
    justify-content: center;
    gap: 5%;
  }

  .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    opacity: 0.6;
  }

  .about-image img {
    width: 100%;
    max-width: 280px;
    object-fit: contain;
  }

  .about-me {
    padding: 0px;
    width: 55%;
  }

  .about-me p {
    font-size: 1.8vw;
    line-height: 2.2vw;
  }
}

@media only screen and (min-width: 1950px) {
  .about-me p {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
}